<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/header") -%>
</head>
<body>
    <nav id="navbar-page-stage" class="navbar bg-body-tertiary px-3 justify-content-center fixed-bottom">
        <ul class="nav nav-pills gap-2">
          <li class="nav-item">
            <button class="btn btn-outline-info" id="btn-view-current-stage" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Current status">Queue</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary" id="btn-start-stage">Start</button>
          </li>
          <!-- <li class="nav-item">
            <button class="btn btn-primary" id="btn-next-stage">Next</button>
          </li> -->
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Users</div>
                        <div class="card-text">
                            10
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Stage</div>
                        <div class="card-text">
                            0/3
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">User Passed</div>
                        <div class="card-text">
                            13
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">User Failed</div>
                        <div class="card-text">
                            13
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-bs-spy="scroll" data-bs-target="#navbar-page-stage">
        <div class="container" style="height: 100vh">
            <div class="row">
                <h3>Topic: Demo SQL injection</h3>
                <div class="col-lg-8">
                    <div class="d-flex gap-2 flex-wrap" id="l-user-st-1">
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <ol id="list-rank">
                    </ol>
                </div>
            </div>
        </div>

    </div>


    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script>
        const socket = io()
        //Enable tooltip
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        const currStage = {
            cStage: 1,
            next: function () {
                this.cStage += 1
                return this.cStage
            },
            start: function() {
                return this.cStage
            }
        }
    </script>
    <script src="/assets/js/@admin.socket.js"></script>
</body>
</html>