<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header") -%>

</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-6 mx-auto mt-5">
                <form id="form_login" action="<%= data.link_action %>" method="post">
                    <input type="hidden" value="" id="uid">
                    <div class="input-group">
                        <input type="text" name="username" placeholder="Type your name" class="form-control" value="Khoa">
                        <!-- <input type="text" name="room_id" placeholder="Type id's room" class="form-control" value="R001"> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include("../partials/footer") -%>
    <script>
        const socket = io()
        socket.on("connect", function(){
            $("input[type='hidden']").val(socket.id)
        })

        $(document).ready(function(){
            $("form").submit(function(e){
                e.preventDefault()
                axios.post("/api/v1/login", {username: $("#username").val()}).then(function(res){
                    const username = $("input[name='username']").val()
                    const token = res.data.accessToken
                    socket.emit("user:login", {id: token, name: username, room_id: null})
                    localStorage.setItem("accessToken", token)
                })
            })
        })
    </script>
</body>
</html>