<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header") -%>

</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-5">
                <form id="form_login" action="<%= data.link_action %>" method="post">
                    <div class="input-group">
                        <input type="text" name="username" placeholder="Type your name" class="form-control" value="Khoa">
                        <input type="text" name="room_id" placeholder="Type id's room" class="form-control" value="R001">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include("../partials/footer") -%>
</body>
</html>