<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header") -%>

</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>RANK</th>
                <th>Name</th>
                <th>Timing</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Khoa</td>
                    <td>0.0s</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>