<style>
    .box-resize{
        resize: both;
        overflow: auto;
        max-height: 100vh;
        z-index: 1;
        max-width: 100%;
    }

</style>
<div class="o-box bg-light position-absolute box-resize shadow-sm">
    <div class="px-5">
        <h3 class="text-center">Tools Helper</h3>
        <div class="row font-monospace">
            <pre class="col-6" id="box-your-data-form"></pre>
            <pre class="col-6" id="box-res-api"></pre>
        </div>
    </div>
    <% if (data.stage == 4){ %>
    <div class="px-5">
        <h3 class="text-center"></h3>
        <div class="row font-monospace">
            <form>
                <!-- <div class="form-group">
                    <label for="">Select Type:</label>
                    <select name="" id="" class="form-control">
                        <option value="">Text</option>
                        <option value="">Number</option>
                    </select>
                </div> -->
                <div class="input-group mb-2">
                    <input type="text" id="bf-th-letters" class="form-control" value="abcdefghijklmnopqrstuvwxyz0123456789" disabled title="Brute Force">
                    <input type="number" id="bf-th-max" min="0" max="15" class="form-control" value="10" placeholder="max" title="Max Length Text">
                    <button type="button" class="btn btn-secondary" id="btn-bf-th">Send</button>
                </div>
            </form>
            <table id="list-response">
                <thead>
                    <th>Timing</th>
                    <th>Letters</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>
</div>