<style>
    .box-resize{
        resize: both;
        overflow: auto;
    }
</style>
<div class="o-box w-100 bg-light position-absolute box-resize">
    <div class="px-5">
        <h3 class="text-center">Response</h3>
        <div class="row font-monospace">
            <pre class="col-6" id="box-your-data-form"></pre>
            <pre class="col-6" id="box-res-api"></pre>
        </div>
    </div>
</div>