<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/header") -%>
</head>
<body>
    
    <div class="container">
        <div class="row row-cols-auto mt-5" id="queue">
            <p class="col-12 text-end">
                Count <span id="counter-user">0</span>
            </p>
            
        </div>
    </div>
    <%- include ("../../partials/footer") -%>
    <script src="/assets/js/queue.socket.js"></script>
</body>
</html>