<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/header") -%>
    <style>
        html,body,#con_stage_1, #con_stage_1 .row{
            height: 100%;
        }
        body{
            background: url('/assets/imgs/bg_ex_stage_1(1).jpg') center bottom / cover no-repeat fixed;
        }
        #con_stage_1 .row{
            display: flex;
            align-items: center;
        }

    </style>
</head>
<body>
    <%- include("../../partials/user/helper-exercise.ejs") -%>
    <div class="container" id="con_stage_1">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <form action="" method="post" id="form_login_st1" class="mb-5 bg-light bg-opacity-25 shadow border border-secondary rounded-5 px-5 py-5 position-relative">
                    <div class="bg-secondary bg-opacity-25 shadow position-absolute top-0 start-0 h-75 rounded-5 w-100 d-flex justify-content-center align-items-center" id="box_disabled_stage">
                        DISABLED
                    </div>
                    <h3 id="title"></h3>
                    <div class="form-group mb-3">
                        <label for="user_st1">Username:</label>
                        <input type="text" id="user_st1" name="username" class="form-control" placeholder="Type your username">
                    </div>
                    <div class="form-group mb-3">
                        <label for="pass_st1">Password:</label>
                        <input type="password" id="pass_st1" name="password" class="form-control" placeholder="Type your password">
                    </div>
                    <% if(data.status.status == 1){ %>
                        <p class="text-success">Sloved</p>
                    <% } %>
                    <button class="btn btn-primary rounded-5">Submit</button>
                    <% if(data.stage == 5){ %>
                        <button type="button" id="" class="btn btn-link" href="/scoreboard">Done</button>
                    <% }else{ %>
                        <button type="button" id="btn-next-stage" class="btn btn-link" href="/exercise/1/stage/<%= Number(data.stage) + 1 %>">Next</button>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer") -%>
    <script src="/assets/js/stage.socket.js"></script>
</body>
</html>