<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/header") -%>
</head>
<body style="
 background: url('/assets/imgs/bg_ex_stage_1(1).jpg') center bottom / cover no-repeat fixed
">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <form action="" method="post" id="form_login_st1" class="mt-5 border border-secondary rounded-3 px-5 py-5">
                    <h3>Login</h3>
                    <div class="form-group mb-3">
                        <label for="user_st1">Username:</label>
                        <input type="text" id="user_st1" class="form-control" placeholder="Type your username">
                    </div>
                    <div class="form-group mb-3">
                        <label for="pass_st1">Password:</label>
                        <input type="password" id="pass_st1" class="form-control" placeholder="Type your password">
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <%- include("../../partials/footer") -%>

</body>
</html>