<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/header") -%>
    <style>
        html,body,#con_stage_1, #con_stage_1 .row{
            height: 100%;
        }
        body{
            background: url('/assets/imgs/bg_ex_stage_1(1).jpg') center bottom / cover no-repeat fixed;
        }
        #con_stage_1 .row{
            display: flex;
            align-items: center;
        }

    </style>
</head>
<body>
    <%- include("../../partials/user/helper-exercise.ejs") -%>
    <div class="container" id="con_stage_1">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <form action="" method="post" id="form_login_st1" class="mb-5 bg-light bg-opacity-25 shadow border border-secondary rounded-5 px-5 py-5">
                    <h3>Login</h3>
                    <div class="form-group mb-3">
                        <label for="user_st1">Username:</label>
                        <input type="text" id="user_st1" name="username" class="form-control" placeholder="Type your username">
                    </div>
                    <div class="form-group mb-3">
                        <label for="pass_st1">Password:</label>
                        <input type="password" id="pass_st1" name="password" class="form-control" placeholder="Type your password">
                    </div>
                    <p class="badge bg-danger" id="error_st1"></p>
                    <p class="text-success" id="success_st1"></p>
                    <button class="btn btn-primary rounded-5">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("form#form_login_st1").submit(function(e){
                e.preventDefault()
                var formData = {
                    "username": $("input[name='username']").val(),
                    "password": $("input[name='password']").val(),
                }
                axios.post("/exercise/1/stage/1", formData).then((res) => {
                    $("#box-res-api").html(JSON.stringify(res["data"], null, 4))
                    $("#box-your-data-form").html(JSON.stringify(formData, null, 4))
                    if(res["data"]["status"] == 0){
                        $("#error_st1").html(res["data"]["message"])
                    }else{
                        $("#success_st1").html(res["data"]["message"])
                    }
                }).catch((err)=>{
                    $("#box-res-api").html(JSON.stringify(err.response.data, null, 4))

                })
            })
        })
    </script>

    <%- include("../../partials/footer") -%>

</body>
</html>